.headdiv {
  font-family: 'Raleway', sans-serif;
  background: #383838;
  background-image: url('../images/background2.jpg');
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  height: 450px;
}

.img-wrapper {
  background: #383838; 
  width: 100%;
}

.img-responsive {
  width: 1000px;
  height: 200px;
}

.myrecipes {
  text-align: center;
}

.andela {
  color: #5cb1dd;
}

a.andela:hover {
  color: #00A3FB;
}

.navcolor {
  color: #5cb1dd !important;
  font-weight: 400px; 
}

.navbarstyle {
  background: #ffffff;
}

.errorParagraph {
  text-align: center;
  color: red;
}

.copyright {
  float: left;
  color: #ffffff;
}

.made {
  float: right;
  color: #ffffff;
}

.heart {
  color: red;
}

.tips {
  float: right;
}

.title {
  padding-top: 180px;
  color: #fff;
  font-size: 56px;
  height: 0;
  overflow: visible;
  line-height: 1;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: #000 0 0 7px, rgba(0, 0, 0, .9) 0 0 20px;
}

.nosearchresult {
  text-align: center;
  font-size: 20px;
  padding: 20px;
}

#q {
  border: none;
  outline: none;
  width: 400px;
}

.item {
  background-color: white;
  padding: 5px;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  opacity: .9;
  height: 35px;
  font-size: 15px;
  border: 0px;
  border-radius: 5px 5px 5px 5px !important;
}

.recipename {
  text-align: center;
}

.addrecipeinput {
  padding: 5px;
  width: 300px;
  border-radius: 6px;
  height: 35px;
  font-size: 15px;
}

.recipediplay {
  display: inline-block;
}

.addrecipetextarea {
  border-radius: 6px;
  padding: 5px;
  font-size: 15px;
}

.control-group {
  margin-bottom: 30px;
}

.controls {
  margin-top: 10px;
}

.nochrome {
  background-color: #5cb1dd;
  width: 100px;
  height: 36px;
  border: 0;
}

.nochrome:hover {
  opacity: .6;
}

.formdiv {
  margin-top: 80px;
}

.addrecipediv {
  margin-top: 50px;
  text-align: center;
}

.legend {
  font-size: 35px;
}

.control-label {
  font-size: 23px;
}

.mainuser{
  margin-top: 100px;
}

.main {
  margin-top: 20px;
  margin-bottom: 80px;
}

.maindiv {
  margin-top: 100px;
  margin-bottom: 80px;
  max-width: 10000px;
  font-size: 17px;
}

.portfolio-caption{
  background-color: #FFFFFF;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  font-family: 'Raleway', sans-serif;
}

.portfolio-caption:before, .portfolio-caption:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.portfolio-caption:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.username {
  cursor: pointer;
}

.h2div {
  background-color: #5cb1dd;
  cursor: pointer;
  padding: 5px;
  /*#fff0aa*/
}

.h2div:hover{

}

.h2div:hover
{
    position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.h2div:hover:before, .h2div:hover:after
{
  content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 
.h2div:hover:after
{
  right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}

.h2name {
  color: #FFFFFF;
  font-size: 18px;
  /*#337ab7*/
}

.recipeSpan {
  padding-left: 25px;
}

.searchdiv {
  font-family: 'Coming Soon', cursive;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  
  background-color: #f0eee5;
}

.displaydiv {
  background-color: #f5f5f5;
  padding: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #515151;
}
/*
.pagination {
  position: fixed;
  bottom: 60px;
}*/

.myrecipe {
  text-align: center;
}

.navbar-brand {
  font-family: 'Arvo', serif;
  font-size: 20px;
  color: #5cb1dd !important;

}



.wrapper {
  padding-top: 110px
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0, 0, 0, 0.1);
}

.form-signin-heading {
  text-align: center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

#wrap {
  padding-top: 140px;
}

#formwrap {

  background-image: -ms-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
  /* Mozilla Firefox */
  
  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
  /* Opera */
  
  background-image: -o-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
  /* Webkit (Safari/Chrome 10) */
  
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #D3D8E8));
  /* Webkit (Chrome 11+) */
  
  background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
  /* W3C Markup, IE10 Release Preview */
  
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #D3D8E8 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

legend {
  color: #141823;
  font-size: 25px;
  font-weight: bold;
}

.signup-btn {
  background: #79bc64;
  background-image: -webkit-linear-gradient(top, #79bc64, #578843);
  background-image: -moz-linear-gradient(top, #79bc64, #578843);
  background-image: -ms-linear-gradient(top, #79bc64, #578843);
  background-image: -o-linear-gradient(top, #79bc64, #578843);
  background-image: linear-gradient(to bottom, #79bc64, #578843);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  text-shadow: 0px 1px 0px #898a88;
  -webkit-box-shadow: 0px 0px 0px #a4e388;
  -moz-box-shadow: 0px 0px 0px #a4e388;
  box-shadow: 0px 0px 0px #a4e388;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #3b6e22 1px;
  text-decoration: none;
}

.signup-btn:hover {
  background: #79bc64;
  background-image: -webkit-linear-gradient(top, #79bc64, #5e7056);
  background-image: -moz-linear-gradient(top, #79bc64, #5e7056);
  background-image: -ms-linear-gradient(top, #79bc64, #5e7056);
  background-image: -o-linear-gradient(top, #79bc64, #5e7056);
  background-image: linear-gradient(to bottom, #79bc64, #5e7056);
  text-decoration: none;
}

.form .form-control {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  #home {
    margin-top: 50px;
  }
  #home .slogan {
    color: #0e385f;
    line-height: 29px;
    font-weight: bold;
  }
}
