.headdiv {
  font-family: 'Raleway', sans-serif;
  background: #383838;
  background-image: url('../images/background-image.jpg');
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  height: 450px;
}

.title {
  padding-top: 80px;
  color: #fff;
  font-size: 56px;
  height: 0;
  overflow: visible;
  line-height: 1;
  margin-bottom: 80px;
  text-align: center;
  text-shadow: #000 0 0 7px, rgba(0, 0, 0, .9) 0 0 20px;
}

#q {
  border: none;
  outline: none;
  width: 400px;
}

.item {
  background-color: white;
  padding: 5px;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 6px;
  opacity: .9;
  height: 35px;
  font-size: 15px;
}

.addrecipeinput {
  padding: 5px;
  width: 300px;
  border-radius: 6px;
  height: 35px;
  font-size: 15px;
}

.recipediplay {
  display: inline-block;
}

.addrecipetextarea {
  border-radius: 6px;
  padding: 5px;
  font-size: 15px;
}

.control-group {
  margin-bottom: 30px;
}

.controls {
  margin-top: 10px;
}

.nochrome {
  
  width: 100px;
  height: 35px;
}

.formdiv {
  margin-top: 200px;
}

.addrecipediv {
  margin-top: 50px;
}

.legend {
  font-size: 35px;
}

.control-label {
  font-size: 23px;
}

.main {
  margin-top: 20px;
  margin-bottom: 80px;
}

.maindiv {
  margin-top: 100px;
  margin-bottom: 80px;
  max-width: 10000px;

}

.portfolio-caption{
  background-color: #FFFBE8;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.h2div {
  background-color: #fff0aa;
  cursor: pointer;
  padding: 10px;
}

.h2name {
  color: #337ab7;
}

.searchdiv {
  font-family: 'Coming Soon', cursive;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  
  background-color: #fffdf6;
}

.displaydiv {
  background-color: #f5f5f5;
  padding: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  
  height: 60px;
  background-color: #f5f5f5;
}

.navbar-brand {
  font-family: 'Coming Soon', cursive;
  font-size: 20px;
}

.wrapper {
  padding-top: 110px
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0, 0, 0, 0.1);
}

.form-signin-heading {
  text-align: center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

#wrap {
  padding-top: 140px;
}

#formwrap {

  background-image: -ms-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
  /* Mozilla Firefox */
  
  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
  /* Opera */
  
  background-image: -o-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
  /* Webkit (Safari/Chrome 10) */
  
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #D3D8E8));
  /* Webkit (Chrome 11+) */
  
  background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
  /* W3C Markup, IE10 Release Preview */
  
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #D3D8E8 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

legend {
  color: #141823;
  font-size: 25px;
  font-weight: bold;
}

.signup-btn {
  background: #79bc64;
  background-image: -webkit-linear-gradient(top, #79bc64, #578843);
  background-image: -moz-linear-gradient(top, #79bc64, #578843);
  background-image: -ms-linear-gradient(top, #79bc64, #578843);
  background-image: -o-linear-gradient(top, #79bc64, #578843);
  background-image: linear-gradient(to bottom, #79bc64, #578843);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  text-shadow: 0px 1px 0px #898a88;
  -webkit-box-shadow: 0px 0px 0px #a4e388;
  -moz-box-shadow: 0px 0px 0px #a4e388;
  box-shadow: 0px 0px 0px #a4e388;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #3b6e22 1px;
  text-decoration: none;
}

.signup-btn:hover {
  background: #79bc64;
  background-image: -webkit-linear-gradient(top, #79bc64, #5e7056);
  background-image: -moz-linear-gradient(top, #79bc64, #5e7056);
  background-image: -ms-linear-gradient(top, #79bc64, #5e7056);
  background-image: -o-linear-gradient(top, #79bc64, #5e7056);
  background-image: linear-gradient(to bottom, #79bc64, #5e7056);
  text-decoration: none;
}

.form .form-control {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  #home {
    margin-top: 50px;
  }
  #home .slogan {
    color: #0e385f;
    line-height: 29px;
    font-weight: bold;
  }
}
