<div class="headdiv">
  <div class="focus">
    <div class="title">Become your own CHEF!!!</div>
    <div class="formdiv">
      <form>
        <input type="text" class="item" ng-model="firstItem" placeholder="Enter an Ingredient">
        <input type="text" class="item" ng-model="secondItem" placeholder="Enter an Ingredient">
        <input type="text" class="item" ng-model="thirdItem" placeholder="Enter an Ingredient">
        <br/>
        <button class="btn btn-primary nochrome" type="button" ui-sref=".search" ng-click="getReqRecipes()"><span class="glyphicon glyphicon-search y-grid"> Search</span></button>
      </form>
    </div>
  </div>
</div>
<div ui-view></div>

