<form class="form-horizontal addrecipediv" id="formwrap">
  <fieldset>
    <div id="legend">
      <legend class="legend">Add New Recipe</legend>
    </div>
    <div class="control-group">
      <label class="control-label">Recipe Name</label>
      <div class="controls">
        <input type="text" class="addrecipeinput" ng-model="name" placeholder="Name of Recipe" class="input-xlarge">
      </div>
    </div>
 
    <div class="control-group">
      <label class="control-label">Recipe Category</label>
      <div class="controls">
        <input type="text" class="addrecipeinput" ng-model="category" placeholder="Category of Recipe" class="input-xlarge">
        <p class="help-block">E.g.: Salads, Soup, Pasta, etc...</p>
      </div>
    </div>
 
    <div class="control-group">
      <label class="control-label">Cook Time</label>
      <div class="controls">
        <input type="text" class="addrecipeinput" ng-model="cookTime" placeholder="How long does it take to prepare it?" class="input-xlarge">
        <p class="help-block">E.g.: 5mins, 1hr, 1hr30mins, etc...</p>
      </div>
    </div>
 
    <div class="control-group">
      <label class="control-label">Ingredients</label>
      <div class="controls">
        <textarea class="addrecipetextarea" ng-model="ingredients" placeholder="Ingredients needed to prepare recipe" class="input-xlarge" rows="4" cols="40"></textarea>
        <p class="help-block">Enter ingredients and separate them by commas</p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Method</label>
      <div class="controls">
        <textarea class="addrecipetextarea" ng-model="method" placeholder="Method to prepare recipe" class="input-xlarge" rows="6" cols="50"></textarea>
        <p class="help-block">Enter methods and separate them by commas</p>
      </div>
    </div>
 
    <div class="control-group">
      <div class="controls">
        <button class="btn btn-success" type="button" ng-click="addNewRecipe()">Add Recipe</button>
      </div>
    </div>
  </fieldset>
</form>