<div class="container-fluid" id="wrap">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form class="form">
        <legend>Sign Up</legend>
        <h4>It's free and always will be.</h4>
        <input type="text" ng-model="userDetails.userName" class="form-control input-lg" required="" placeholder="User Name" />
        {{errorMessage}}
        <input type="text" ng-model="userDetails.email" class="form-control input-lg" required="" placeholder="Your Email" />
        <input type="password" ng-model="userDetails.password" class="form-control input-lg" required="" placeholder="Password" />
        <button class="btn btn-lg btn-primary btn-block signup-btn" type="button" ng-click="signupUser()">
          Create my account</button>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
</div>
