<form class="form-horizontal addrecipediv" id="formwrap">
  <fieldset>
    <div id="legend">
      <legend class="legend">Add New Recipe</legend>
    </div>
    <div class="control-group">
      <!-- Username -->
      <label class="control-label">Recipe Name</label>
      <div class="controls">
        <input type="text" class="addrecipeinput" id="name" name="name" placeholder="Name of Recipe" class="input-xlarge">
      </div>
    </div>
 
    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label">Recipe Category</label>
      <div class="controls">
        <input type="text" class="addrecipeinput" id="category" name="category" placeholder="Category of Recipe" class="input-xlarge">
        <p class="help-block">E.g.: Salads, Soup, Pasta, etc...</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- Password-->
      <label class="control-label">Cook Time</label>
      <div class="controls">
        <input type="text" class="addrecipeinput" id="cookTime" name="cookTime" placeholder="How long does it take to prepare it?" class="input-xlarge">
        <p class="help-block">E.g.: 5mins, 1hr, 1hr30mins, etc...</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- Password -->
      <label class="control-label">Ingredients</label>
      <div class="controls">
        <textarea class="addrecipetextarea" id="ingredients" name="ingredients" placeholder="Ingredients needed to prepare recipe" class="input-xlarge" rows="4" cols="40"></textarea>
        <!-- <input type="text" class="addrecipeinput" id="ingredients" name="ingredients" placeholder="Ingredients needed to prepare recipe" class="input-xlarge"> -->
        <p class="help-block">Enter ingredients and separate them by commas</p>
      </div>
    </div>

    <div class="control-group">
      <!-- Password -->
      <label class="control-label">Method</label>
      <div class="controls">
        <textarea class="addrecipetextarea" id="method" name="method" placeholder="Method to prepare recipe" class="input-xlarge" rows="6" cols="50"></textarea>
        <!-- <input type="text" id="method" name="method" placeholder="Method to prepare recipe" class="input-xlarge"> -->
        <p class="help-block">Enter methods and separate them by commas</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">Add Recipe</button>
      </div>
    </div>
  </fieldset>
</form>