<div class="nosearchresult" ng-show="nullErrorMessage">{{nullErrorMessage}}</div>
<div class="container main" ng-hide="nullErrorMessage">
  <div class="nosearchresult" ng-show="noCombination">{{noCombination}}</div>
  <div ng-hide="noCombination">
    <h1 class="searchdiv">Search Results</h1>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item" dir-paginate="recipe in recipes | itemsPerPage: pageSize" current-page="currentPage">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content">
          </div>
        </div>
        <div class="img-wrapper">
          <a id="single_2" href="{{recipe.imageUrl}}" title="{{recipe.name}}"><img ng-src="{{recipe.imageUrl}}" class="img-responsive" alt=""></a>
        </div>
        <div class="h2namenew">
          <p ui-sref="getOneRecipe({rid : recipe._id})">{{recipe.name}}</p>
        </div>
        <div class="portfolio-caption">
          <div class="recipeingredients">
            <div ng-repeat="item in recipe.ingredients" class="recipediplay"> {{item}}</div>
          </div>
          <hr width="90%" size="5" align="center">
          <span class="glyphicon glyphicon-time cookSpan"> {{recipe.cookTime}}</span>
          <!-- <span class="glyphicon glyphicon-heart heart heartSpan"></span> -->
        </div>
      </div>
      
    </div>
    <div id="outPopUp" class="text-center pagination">
      <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
    </div>
  </div>
</div>
